body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(156, 144, 144);
    padding: 1%;
}

/* Selecciona el id="cabecera" */
#cabecera {
    background-color: #0d405b;
    padding: 1%;
    
    border-radius: 5px;


}
  
/* Seleccion la clase class="menu-principal" */
.menu-principal-tabla {

    /* margin: 100px; */

    width: 50%;

    height: 35px;
    background-color:    #1873a4;

    float: right;
}

.menu-principal-tabla td {

    font-size: 1.1em;
    text-align: center;
    background-color: #239cde;
    
}

  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    margin-top: 20px;
  }
  
  label,
  input,
  textarea {
    
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }