body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(156, 144, 144);
    padding: 1%;
}

/* Selecciona el id="cabecera" */
#cabecera {
    background-color: #0d405b;
    padding: 1%;
    
    border-radius: 5px;


}

/* Seleccion la clase class="menu-principal" */
.menu-principal-tabla {

    /* margin: 100px; */

    width: 50%;

    height: 35px;
    background-color:    #1873a4;

    float: right;
}

.menu-principal-tabla td {

    font-size: 1.1em;
    text-align: center;
    background-color: #239cde;
    
}

#pie{
    margin-top: 20px;
    
    background-color: antiquewhite;
    text-align: center;
}


/* Estilos para la tarjeta */
.tarjeta {
    width: 400px;
    height: 200px;;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
  }
  
  /* Efecto de hover */
  .tarjeta:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


/* Tabla juegos */
  #tablajuegos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
  }

  #tablajuegos td{
    padding: 10px;
  }


.post {
    text-align: center;

  }
.post p{
    font-size: larger;
}

#players {
margin: auto;
}